- if notice
  %p#notice= notice
%h1 Your Pragmatic Catalog
- @products.each do |product|
  .entry
    = image_tag(product.image_url)
    %h3= product.title
    = raw product.description
    .price_line
      %span.price= number_to_currency product.price, :unit => 'CHF', :format => "%u %n"
      = button_to 'Add to Cart', line_items_path(:product_id => product)
