- if notice
  %p#notice= notice
%h1 Your Pragmatic Catalog
- if @count >= 5
  %p
    = 'You\'ve been here ' + pluralize(@count.to_i, 'time')
- @products.each do |product|
  .entry
    = link_to image_tag(product.image_url), line_items_path(:product_id => product), :method => :post
    %h3= product.title
    = raw product.description
    .price_line
      %span.price= number_to_currency product.price, :unit => 'CHF', :format => "%u %n"
      = button_to 'Add to Cart', line_items_path(:product_id => product), :remote => true

- @lineitemstest.each do |testitem|
  .testitem
    = testitem.product_id
    \:
    = testitem.cart_id
